#errorNumber{
    font-size: 60px;
    padding-left: 10px;
    width:110px;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 45%;
    margin-top: 10%;
}

#padLock{
    font-size: 40px;
    padding-right:20px;
}

#explanation{
    font-size: 25px;
    margin-left: 44%;
    margin-top: 1%;
}

#horizontalLine
{
    width:50%;
    margin-top: 3%;
}

#description{
    font-size: 15px;
    margin-left: 39%;
    margin-top : 2%;
}

#backHome{
    margin-left: 46%;
    margin-top: 3%;
    font-size: 20px;
}