<h2>My Heroes</h2>
<mat-form-field>
    <input matInput type="search" [(ngModel)]="searchValue" placeholder="Type a name or a number" (keyup)="searchChange()" class="form">
</mat-form-field>

<mat-nav-list infiniteScroll fromRoot (scrolled)="onScroll()">
    <mat-list >
        <mat-list-item *ngFor="let pokemon of pokemons" (click)="onClick(pokemon)">
            <img matListAvatar src="assets/img/sprites/{{pokemon.id}}.png" alt="Image pokemon {{pokemon.name}}">
            <h3 matLine>{{pokemon.id}}.{{pokemon.name}}</h3>
        </mat-list-item>
    </mat-list>
</mat-nav-list> 