.card {
    max-width: 500px;
    margin-right: 25%;
    margin-top: 20%;
}

.img{
    width: 80%;
}

#num{
    margin-top: 0px;
    margin-left: 20%;
}

#blank{
    height:30px;
}

#descr{
    display: block;
}

#playButton{
    margin-left: 10px;
}

#backButton{
    margin-top: 20px;
    color: black;
    background-color: lightgray;
    border-radius: 8px;
}

